<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Fans de football</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>

<div class="container pt-3" id="app" v-cloak>
  <h1>Les fans de football</h1>

  <form class="form-inline mb-3" @submit.prevent="createContact">
    <div class="form-group mr-5">
      <label for="name" class="mr-3">Quel est votre joueur préféré</label>
      <input type="text" class="form-control" id="name" v-model="form.name">
    </div>
    <div class="form-group mr-5">
      <label for="value" class="mr-3">Votre equipe préférée</label>
      <input type="text" class="form-control" id="value" v-model="form.value">
    </div>
    <button class="btn btn-primary" type="submit" :disabled="!canCreate">Soumettre</button>
  </form>

  <div v-if="loading">
    <loader />
  </div>
  <div v-else-if="contacts.length">
    <div class="card mb-3" v-for="contact in contacts">
      <div class="card-body">
        <h5 class="card-title" :style="{color: contact.marked ? 'red' : 'black'}">{{contact.name}}</h5>
        <p class="card-text">{{contact.value}}</p>
        <button class="btn btn-primary" @click="markContact(contact.id)" :disabled="contact.marked">Marquer</button>
        <button class="btn btn-danger" @click="removeContact(contact.id)">Supprimer</button>
      </div>
    </div>
  </div>
  <p v-else>Il n'y a pas de réponse</p>
</div>

<script type="module" src="frontend.js"></script>
</body>
</html>
